@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --yellow: hsl(47, 88%, 63%);
    --gray: hsl(0, 0%, 42%);
    --black: hsl(0, 0%, 7%);
}
body
{
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--yellow);
}
.container
{
    background-color: white;
    max-width: 400px;
    border-radius: 20px;
    border  : 1px solid black;
    position: relative;
    padding: 1.5rem;
    margin: 1rem;
}
.container::before
{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 10px;
    right: -10px;
    border-radius: 1rem;
    z-index: -1;
}
.container .imga img
{
    width: 100%;
    border-radius: 15px;
    display: block;
}
.container .text-content .heading-text h3
{
    background-color: var(--yellow);
    width: min-content;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
}
.container .text-content .heading-text p
{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
}
.container .text-content .main-text h2
{
    margin-bottom: 15px;
    font-weight: 800;
}
.container .text-content .main-text p
{
    color: var(--gray);
    line-height: 1.8;
}
.container .text-content .writer
{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.container .text-content .writer img
{
    width: 50px;
}
.container .text-content .writer h3
{
    margin: 0 10px;
}
.attribution
{
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}
.attribution a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}